<form role="form" class="form-horizontal">
  <div class="form-group">
    <label for="username" class="control-label col-sm-3">User Name</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="username" placeholder="Username">
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="control-label col-sm-3">Email</label>
    <div class="col-sm-9">
      <input type="email" class="form-control" id="email" placeholder="Email Address">
    </div>
  </div>
  <div class="form-group">
    <label for="firstname" class="control-label col-sm-3">First Name</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="firstname" placeholder="First Name">
    </div>
    <label for="lastname" class="control-label col-sm-3">Last Name</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="lastname" placeholder="First Name">
    </div>
  </div>
  <div class="form-group">
    <label for="password1" class="control-label col-sm-3">Password</label>
    <div class="col-sm-9">
      <input type="password" class="form-control" id="password1" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label for="password2" class="control-label col-sm-3">Confirm Password</label>
    <div class="col-sm-9">
      <input type="password" class="form-control" id="password2" placeholder="Retype Password">
    </div>
  </div>
  <div class="form-group">
    <div class="checkbox">
      <label class="control-label col-sm-offset-3">
        <input type="checkbox" ng-model="policyAgreed"> Agree with Policy
      </label>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary col-sm-offset-3" ng-class="{disabled:!policyAgreed}">Sign Up</button>
  </div>
</form>
