<ol class="breadcrumb">
  <li><a ng-href="#/tools">Tools</a></li>
  <li class="active">Stat</li>
</ol>

<ul class="nav nav-pills">
  <li class="active"><a href="#">ComS510</a></li>
  <li><a href="#">ComS511</a></li>
  <li><a href="#">ComS592</a></li>
  <li><a href="#">ComS641</a></li>
</ul>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Students</th>
      <th>{{data.course.c1}}</th>
      <th>{{data.course.c2}}</th>
      <th>{{data.course.c3}}</th>
    </tr>
  </thead>
  <tbody ng-repeat='student in data.students'>
    <tr>
      <td>{{student.name}}</td>
      <td>{{student.c1}}</td>
      <td>{{student.c2}}</td>
      <td>{{student.c3}}</td>
    </tr>
  </tbody>
</table>
